/* ==================================== */
/*   G L O B A L   S T Y L E S          */
/* ==================================== */

@import "tailwindcss";

:root {
  --color-white:#ffffff;
  --color-primary:#1A1B1C;
  --color-gray-0:179 179 179;
  --color-gray-1:160 164 171;
  --color-gray-2:56 56 56;

  --background:var(--color-white);
  --foreground:var(--color-primary);
  --background-hover:rgb(var(--color-gray-0));
  --border:rgb(var(--color-gray-1));
  --repeating-background:repeating-linear-gradient(-18deg,#58595a,#58595a 1px,#0000 0,#0000 5px,#58595a 0),repeating-linear-gradient(72deg,#58595a,#58595a 1px,#0000 0,#0000 5px,#58595a 0),repeating-linear-gradient(162deg,#58595a,#58595a 1px,#0000 0,#0000 5px,#58595a 0),repeating-linear-gradient(252deg,#58595a,#58595a 1px,#0000 0,#0000 5px,#58595a 0);

  --button-background:var(--color-primary);
  --button-foreground:var(--color-white);
  --button-background-hover:rgb(var(--color-gray-2));
  
}


@theme inline {
  --color-background:var(--background);
  --color-foreground:var(--foreground);
}

@media (prefers-color-scheme:dark) {
  :root {
    --background:#0a0a0a;
    --foreground:#ededed;
  }
}

:focus { outline:0; }
::selection { background-color:rgb(var(--color-gray-0) / 30%); }

body { display:flex; background:var(--background); color:var(--foreground); width:100%; height:100%; position:fixed; top:0; left:0; overflow:clip; }
main { position:relative; display:flex; flex-direction:column; flex:1 1 auto; }

li { display:flex; align-items:baseline; gap:8px; }
li img { width:12px; }
li > div { flex:1; display:flex; flex-direction:column; }
button { cursor:pointer; }

form { position:relative; border-bottom:1px solid var(--color-primary); }
label { text-align:center; font-size:clamp(44px,12px + 2.5vw,60px); transition:opacity 0.2s ease; }
input { padding:4px 0; text-align:center; color:var(--color-primary); font-size:clamp(44px,12px + 2.5vw,60px); line-height:1; }
input:focus ~ label, .is-hidden { opacity:0; pointer-events:none; transition:opacity 0.2s ease; }
button { font-size:14px; text-transform:uppercase; }

.is-disabled { pointer-events:none; opacity:0.5 !important; }

.sai-wrapper { display:flex; flex-direction:column; flex:1 1 auto; padding-bottom:36px; position:relative; }



.sai-portal { position:fixed; width:100%; height:100%; top:0; left:0; display:flex; align-items:center; }


/*  */
.sai-rbg { background-image:var(--repeating-background); background-position:0 0, 0 0, 100% 0, 0 100%; background-repeat:no-repeat; background-size:1px 100%, 100% 1px, 1px 100%, 100% 1px; pointer-events:none; }


/* ------------------------------------ */
/*   FLEX                               */
/* ------------------------------------ */

.sai-heading,
.sai-stepnav { position:absolute; text-transform:uppercase; letter-spacing:-0.025em; }
.sai-heading { top:5rem; left:2rem; display:flex; flex-direction:column; gap:8px; max-width:400px; }
.sai-heading__desc { display:flex; flex-direction:column; font-size:14px; letter-spacing:0.05em; }
.sai-heading h1 { line-height:1; font-size:72px; font-weight:400; letter-spacing:-0.05em; }

/* layer */
.sai-layer { position:absolute; top:0; left:0; width:100%; height:100%; display:flex; }
.sai-layer__content { position:relative; margin:auto; }
.sai-layer__content--analysis { margin:18rem 32px auto; width:100vw; display:flex; gap:16px; }
.sai-layer__element { width:0; opacity:0; overflow:hidden; white-space:nowrap; }
.sai-loading .sai-layer__element { white-space:normal; text-align:center; text-transform:uppercase; font-weight:600; }

.sai-form__section { display:flex; flex-direction:column; gap:4px; max-width:30vw; }
.sai-form__help { text-transform:uppercase; color:rgb(var(--color-gray-0)); text-align:center; font-size:14px; }

.auto { position:relative; width:100%; }
.auto-list { position:relative; width:100%; }
.auto-list-wrapper, .pac-container { position:absolute; top:0; left:0; width:100%; }
.pac-container { margin-top:1px; box-shadow:none; background:transparent; border:none; }
.auto-list-item, .pac-item { width:100%; padding:4px; cursor:pointer; }
.pac-item { border-color:var(--color-white); }
.auto-list-item:hover, .pac-item:hover { background:rgb(var(--color-gray-0) / 20%); }







