@import "tailwindcss";

:root {
  --color-white:#ffffff;
  --color-primary:#1A1B1C;
  --color-gray-0:179 179 179;
  --color-gray-1:160 164 171;
  --color-gray-2:56 56 56;

  --background:var(--color-white);
  --foreground:var(--color-primary);
  --background-hover:rgb(var(--color-gray-0));
  --border:rgb(var(--color-gray-1));
  --repeating-background:repeating-linear-gradient(-18deg,#58595a,#58595a 1px,#0000 0,#0000 5px,#58595a 0),repeating-linear-gradient(72deg,#58595a,#58595a 1px,#0000 0,#0000 5px,#58595a 0),repeating-linear-gradient(162deg,#58595a,#58595a 1px,#0000 0,#0000 5px,#58595a 0),repeating-linear-gradient(252deg,#58595a,#58595a 1px,#0000 0,#0000 5px,#58595a 0);

  --button-background:var(--color-primary);
  --button-foreground:var(--color-white);
  --button-background-hover:rgb(var(--color-gray-2));
  
}


@theme inline {
  --color-background:var(--background);
  --color-foreground:var(--foreground);
}

@media (prefers-color-scheme:dark) {
  :root {
    --background:#0a0a0a;
    --foreground:#ededed;
  }
}

:focus { outline:0; }
::selection { background-color:rgb(var(--color-gray-0) / 30%); }

body { display:flex; background:var(--background); color:var(--foreground); width:100%; height:100%; position:fixed; top:0; left:0; overflow:clip; }
main { position:relative; display:flex; flex-direction:column; flex:1 1 auto; }

li { display:flex; align-items:baseline; gap:8px; }
li img { width:12px; }
li > div { flex:1; display:flex; flex-direction:column; }
button { cursor:pointer; }

form { position:relative; border-bottom:1px solid var(--color-primary); }
label { text-align:center; font-size:clamp(44px,12px + 2.5vw,60px); transition:opacity 0.2s ease; }
input { padding:4px 0; text-align:center; color:var(--color-primary); font-size:clamp(44px,12px + 2.5vw,60px); line-height:1; }
input:focus ~ label, .is-hidden { opacity:0; pointer-events:none; transition:opacity 0.2s ease; }

.is-disabled { pointer-events:none; opacity:0.5 !important; }

.sai-button { position:relative; padding:8px 16px; height:36px; border:1px solid var(--color-primary); background:var(--color-white); color:var(--color-primary); font-weight:600; letter-spacing:-0.025em; line-height:1; }
.sai-button:before { position:absolute; content:''; width:100%; height:0; bottom:0; right:0; background:var(--color-primary); transition:all 0.3s ease; }
.sai-button:hover:before { height:100%; bottom:0; }
.sai-button span { position:relative; }
.sai-button:hover span, .sai-button--primary span { color:var(--color-white); }
.sai-button--primary { border-color:var(--color-white); background:var(--color-primary); color:var(--color-white); }
.sai-button--primary:before { background:var(--color-white); }
.sai-button--primary:hover span { color:var(--color-primary); }

.sai-preview { display:flex; flex-direction:column; justify-content:center; gap:4px; }
.sai-preview__wrapper { background:rgb(var(--color-gray-2) / 20%); width:100px; height:100px; overflow:hidden; }
.sai-preview__img { width:100%; max-width:100%; max-height:100%; object-fit:cover; cursor:pointer; }
.sai-preview__img--empty { padding:8px; filter:invert(1); opacity:0.1; cursor:default; }
.sai-preview span { display:block; text-align:center; font-size:12px; }

.sai-portal { position:fixed; width:100%; height:100%; top:0; left:0; display:flex; align-items:center; }
.sai-dialog { margin:auto; display:flex; flex-direction:column; width:320px; max-width:400px; max-height:400px; background:transparent; }
.sai-dialog__border { width:0; height:1px; background:var(--color-primary); opacity:0; }
.sai-dialog__wrapper { height:0; opacity:0; overflow:hidden; background:var(--color-primary); color:var(--color-white); }
.sai-dialog__wrapper > * { padding:8px 16px; font-size:14px; text-transform:uppercase; }
.sai-dialog__header { border-bottom:1px solid var(--color-white); letter-spacing:0.025em; }
.sai-dialog__content { padding:20px 16px; }
.sai-dialog__content li { margin-bottom:16px; }
.sai-dialog__content li img { filter:invert(1); }
.sai-dialog__content small { text-transform:lowercase; font-size:14px; color:rgb(var(--color-gray-0) / 50%); }
.sai-dialog__footer { display:flex; gap:32px; border-top:1px solid var(--color-white); }
.sai-dialog__footer button { text-transform:uppercase; }
.sai-dialog__footer button:hover { transform:translateY(1px); }
.sai-dialog__footer button:active { transform:translateY(2px); }

.htn { position:absolute; top:50%; transition:opacity 0.3s ease-in-out; }

/* nav-button */
.nav-btn { display:flex; cursor:pointer; }
.nav-btn:hover .nav-btn-icon:before { transform:scale(2); }
.nav-btn:hover .nav-btn-icon:after { transform:scale(1.5); }

/* home-title repeating-background, background */
.rbg { background-image:var(--repeating-background); background-position:0 0, 0 0, 100% 0, 0 100%; background-repeat:no-repeat; background-size:1px 100%, 100% 1px, 1px 100%, 100% 1px; pointer-events:none; }
.htn-bg { position:absolute; top:50%; width:30vw; height:30vw; transform:rotate(45deg); pointer-events:none; }
.htn-bg:before,
.htn-bg:after { position:absolute; content:''; top:50%; left:50%; width:100%; height:100%; background:var(--repeating-background); background-position:0 0, 0 0, 100% 0, 0 100%; background-repeat:no-repeat; background-size:1px 100%, 100% 1px, 1px 100%, 100% 1px; transform:translate(-50%, -50%); opacity:0.5; transition:transform 0.3s cubic-bezier(.08,.5,.44,.96) calc(0.3s/2), opacity 0s ease calc(0.3s/2); }
.nav-btn:hover ~ .htn-bg:before { opacity:0.5; transform:translate(-50%, -50%) scale(1.1); }
.nav-btn:hover ~ .htn-bg:after { opacity:0.3; transform:translate(-50%, -50%) scale(1.2); }

/* home-title-nav button */
.nav-btn-icon { position:relative; display:flex; align-items:center; justify-content:center; width:24px; height:24px; transform:rotate(45deg); }
.nav-btn-icon:before,
.nav-btn-icon:after { position:absolute; content:''; width:100%; height:100%; border:1px solid var(--color-primary); transition:transform 0.5s cubic-bezier(0.08,0.5,0.44,0.96); }
.nav-btn-icon:after { border-style:dotted; }
.nav-btn-label { display:flex; align-items:center; text-transform:uppercase; font-size:11px; transition:all 0.3s ease-in-out; }
.nav-btn-svg { transform:rotate(-45deg); font-size:20px; }


.sai-heading,
.sai-stepnav { position:absolute; text-transform:uppercase; letter-spacing:-0.025em; font-weight:600; }

/* layer */
.sai-layer { position:absolute; top:0; left:0; width:100%; height:100%; display:flex; }
.sai-layer__content { position:relative; margin:auto; }
.sai-layer__element { width:0; opacity:0; overflow:hidden; white-space:nowrap; }
.sai-loading .sai-layer__element { white-space:normal; text-align:center; text-transform:uppercase; font-weight:600; }

.sai-form__section { display:flex; flex-direction:column; gap:4px; max-width:30vw; }
.sai-form__help { text-transform:uppercase; color:rgb(var(--color-gray-0)); text-align:center; font-size:14px; }

.auto { position:relative; width:100%; }
.auto-list { position:relative; width:100%; }
.auto-list-wrapper, .pac-container { position:absolute; top:0; left:0; width:100%; }
.pac-container { margin-top:1px; box-shadow:none; background:transparent; border:none; }
.auto-list-item, .pac-item { width:100%; padding:4px; cursor:pointer; }
.pac-item { border-color:var(--color-white); }
.auto-list-item:hover, .pac-item:hover { background:rgb(var(--color-gray-0) / 20%); }


.sai-datagrid { position:absolute; display:grid; grid-template-rows:repeat(2, minmax(0, 1fr)); grid-template-columns:repeat(2, minmax(0, 1fr)); pointer-events:none; }
.sai-dataquad { position:relative; }
.sai-dataquad--tr { grid-column:2 / 3; }
.sai-dataquad--bl { grid-row:2 / 3; }
.sai-dataquad:before { position:absolute; content:''; width:50%; height:1px; background:var(--color-primary); }
.sai-dataquad--tr:before { left:0; bottom:0; transform-origin:left; transform:rotate(-45deg) translate(72%, 50%); }
.sai-dataquad--bl:before { right:0; top:0; transform-origin:right; transform:rotate(-45deg) translate(-72%, 50%); }

.sai-datapt { position:absolute; width:100%; text-transform:uppercase; font-size:10px; line-height:16px; }
.sai-datapt--tr { top:52px; left:112px; }
.sai-datapt--bl { bottom:36px; right:112px; text-align:right; }
.sai-datapt:after { position:absolute; content:''; top:6px; width:6px; height:6px; border-radius:50%; outline:1px solid var(--color-primary); background:var(--color-white); }
.sai-datapt--tr:after { left:-16px; }
.sai-datapt--bl:after { right:-16px; }

.sai-imginput { position:relative; display:flex; align-items:center; justify-content:center; width:100%; height:100%; }
.sai-imginput__img { cursor:pointer; transition:transform 0.3s ease-in-out; }
.sai-imginput__img:hover { transform:scale(0.9); transition:transform 0.3s ease-in-out; }
.sai-imginput__img--cam:hover { transform:scale(0.9) rotate(45deg); }