/* ==================================== */
/*   C O M P O N E N T   S T Y L E S    */
/* ==================================== */

/* ------------------------------------ */
/*   HEADER                             */
/* ------------------------------------ */

/* SHARED ----------------------------- */
.sai-header, .sai-header__wrapper { display:flex; align-items:center; }
/* CONTAINER -------------------------- */
.sai-header { justify-content:space-between; position:fixed; left:0; top:0; width:100%; height:64px; z-index:3; padding:0 32px; }
/* WRAPPER ---------------------------- */
.sai-header__wrapper { gap:16px; text-transform:uppercase; font-weight:600; font-size:11px; line-height:1.6; letter-spacing:-0.025em; }
/* TITLE ------------------------------ */
.sai-header__title { display:flex; gap:6px; opacity:0.6; }
/* BRACKET ---------------------------- */
.sai-header__bracket { width:4px; height:16px; border:1px solid; }
.sai-header__bracket--l { border-start-start-radius:2px; border-end-start-radius:2px; border-right:none; }
.sai-header__bracket--r { border-start-end-radius:2px; border-end-end-radius:2px; border-left:none; }

/* ------------------------------------ */
/*   FOOTER                             */
/* ------------------------------------ */

/* CONTAINER -------------------------- */
.sai-footer { position:absolute; left:0; bottom:0; width:100%; min-height:calc(48px + 8px); }
.sai-footer p { width:320px; font-size:14px; line-height:24px; }
/* WRAPPER ---------------------------- */
.sai-footer__wrapper { margin:0 32px 32px; display:flex; align-items:center; justify-content:space-between; text-transform:uppercase; letter-spacing:-0.025em; }

/* ------------------------------------ */
/*   CIRCULAR PROGRESS BAR              */
/* ------------------------------------ */

/* CONTAINER -------------------------- */
.sai-progress { margin:0 auto; width:380px; height:380px; transform:rotate(-90deg); }
/* TRACK ------------------------------ */
.sai-progress__track { stroke:rgb(var(--color-gray-1) / 50%); }
/* PERCENT ---------------------------- */
.sai-progress__percent { stroke:var(--color-primary); }
/* LABEL ------------------------------ */
.sai-progress__label { transform-origin:center; transform:rotate(90deg); }

/* ------------------------------------ */
/*   DIALOG                             */
/* ------------------------------------ */

/* SHARED ----------------------------- */
.sai-dialog, .sai-dialog__footer { display:flex; }
/* CONTAINER -------------------------- */
.sai-dialog { margin:auto; flex-direction:column; width:320px; max-width:400px; max-height:400px; background:transparent; }
/* BORDER ----------------------------- */
.sai-dialog__border { width:0; height:1px; background:var(--color-primary); opacity:0; }
/* WRAPPER----------------------------- */
.sai-dialog__wrapper { height:0; opacity:0; overflow:hidden; background:var(--color-primary); color:var(--color-white); }
.sai-dialog__wrapper > * { padding:8px 16px; font-size:14px; text-transform:uppercase; }
/* HEADER ----------------------------- */
.sai-dialog__header { border-bottom:1px solid var(--color-white); letter-spacing:0.025em; }
/* CONTENT ---------------------------- */
.sai-dialog__content { padding:20px 16px; }
.sai-dialog__content li { margin-bottom:16px; }
.sai-dialog__content li img { filter:invert(1); }
.sai-dialog__content small { text-transform:lowercase; font-size:14px; color:rgb(var(--color-gray-0) / 50%); }
/* FOOTER ----------------------------- */
.sai-dialog__footer { justify-content:flex-end; gap:32px; border-top:1px solid var(--color-white); }

/* ------------------------------------ */
/*   DOTTED BOX                         */
/* ------------------------------------ */
.sai-dotted-box { position:absolute; inset:0; will-change:transform; }
.sai-dotted-box--outer { opacity:0.5; }
.sai-dotted-box--outermost { opacity:0.3; }

/* ------------------------------------ */
/*   NAV BUTTON                         */
/* ------------------------------------ */

/* SHARED ----------------------------- */
.sai-nav-btn, .sai-nav-btn__icon, .sai-nav-btn__label { display:flex; }
.sai-nav-btn__icon, .sai-nav-btn__label { align-items:center; }
/* CONTAINER -------------------------- */
.sai-nav-btn { cursor:pointer; }
.sai-nav-btn:hover .sai-nav-btn__icon:before { transform:scale(1.675); }
.sai-nav-btn:hover .sai-nav-btn__icon:after { transform:scale(1.25); }
/* ICON ------------------------------- */
.sai-nav-btn__icon { position:relative; justify-content:center; width:32px; height:32px; transform:rotate(45deg); }
.sai-nav-btn__icon:before,
.sai-nav-btn__icon:after { position:absolute; content:''; width:100%; height:100%; border:1px solid var(--color-primary); transition:transform 0.5s cubic-bezier(0.08,0.5,0.44,0.96); }
.sai-nav-btn__icon:after { border-style:dotted; }
/* LABEL ------------------------------ */
.sai-nav-btn__label { text-transform:uppercase; font-size:14px; transition:all 0.3s ease-in-out; }
/* SVG -------------------------------- */
.sai-nav-btn__svg { transform:rotate(-45deg); font-size:20px; }

/* ------------------------------------ */
/*   POPUP                              */
/* ------------------------------------ */

/* SHARED ----------------------------- */
.sai-popup__wrapper, .sai-popup__footer { display:flex; }
.sai-popup__content, .sai-popup__footer { padding:8px 16px; }
/* CONTAINER -------------------------- */
.sai-popup { opacity:0; position:absolute; top:50%; left:100%; width:340px; height:140px; z-index:10; }
/* WRAPPER ---------------------------- */
.sai-popup__wrapper { flex-direction:column; height:100%; background:var(--color-primary); color:var(--color-white); }
/* CONTENT ---------------------------- */
.sai-popup__content { flex:1; }
/* FOOTER ----------------------------- */
.sai-popup__footer { height:36px; align-items:center; justify-content:flex-end; gap:32px; border-top:1px solid var(--color-white); }

/* ------------------------------------ */
/*   PREVIEW                            */
/* ------------------------------------ */

/* CONTAINER -------------------------- */
.sai-preview { display:flex; flex-direction:column; gap:4px; }
.sai-preview span { display:block; text-align:center; font-size:12px; }
/* WRAPPER ---------------------------- */
.sai-preview__wrapper { background:rgb(var(--color-gray-2) / 20%); width:100px; height:100px; overflow:hidden; }
/* IMAGE ------------------------------ */
.sai-preview__img { width:100%; height:100%; max-width:100%; max-height:100%; object-fit:cover; cursor:pointer; filter:grayscale(1); transition:filter 0.3s ease-in-out; }
.sai-preview__img:hover { filter:grayscale(0); transition:filter 0.3s ease-in-out; }
.sai-preview__img--empty { padding:8px; filter:invert(1); opacity:0.1; cursor:default; pointer-events:none; }
/* REMOVE- ---------------------------- */
.sai-preview__remove { margin:0 auto; cursor:default; }
.sai-preview__remove img { padding:2px; width:100%; height:100%; width:16px; height:16px; transform:rotate(45deg); filter:invert(1); cursor:pointer; }